---
layout: page
title : Blog
header : false
group: navigation
---
{% include JB/setup %}

<div id="blog-page">
	{% for post in site.posts %}
		<div class="row-fluid">
			<div class="span12 blog-post">
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
				<p>
					<small>
						<strong>{{ post.date | date: "%B %e, %Y" }}</strong>{% if post.category %} . {{ post.category }} . {% endif %}
					</small>
				</p>
				<p>{{ post.content | truncatewords:200 }}</p>
			</div>
		</div>
		<hr />
	{% endfor %} 
</div>