$font-path: "../fonts/";

@font-face {
  font-family: 'icomoon';
  src:  url($font-path + 'icomoon.eot?f35wvk');
  src:  url($font-path + 'icomoon.eot?f35wvk#iefix') format('embedded-opentype'),
    url($font-path + 'icomoon.ttf?f35wvk') format('truetype'),
    url($font-path + 'icomoon.woff?f35wvk') format('woff'),
    url($font-path + 'icomoon.svg?f35wvk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@mixin define-icon($name, $font-family, $glyph) {
  .icon-#{$name} {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $font-family !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-#{$name}::before {
    content: $glyph;
  }
}

@include define-icon("instagram", "icomoon", "\e900");
@include define-icon("mastodon", "icomoon", "\e901");
@include define-icon("twitter", "icomoon", "\e902");
@include define-icon("twitch", "icomoon", "\e903");