---
layout: page
title : Blog
header : false
---
{% include JB/setup %}

<div id="blog-page">
	{% for post in paginator.posts %}
		<div class="row-fluid">
			<div class="span12 blog-post">
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
				<p>
					<small>
						<strong>{{ post.date | date: "%B %e, %Y" }}</strong>{% if post.category %} . {{ post.category }} . {% endif %}
					</small>
				</p>
				<p>{{ post.content | truncatewords:200 }}</p>
			</div>
		</div>
		{% unless forloop.last %}
			<hr />
		{% endunless %}
	{% endfor %} 

	<div class="pagination">
		<ul>
			{% if paginator.previous_page %}
				<li>
					{% if paginator.previous_page == 1%}
						<a href="{{ BASE_PATH }}/blog" class="previous">Prev</a>
					{% else %}
						<a href="{{ BASE_PATH }}/blog/page{{ paginator.previous_page }}" class="previous">Prev</a>
					{% endif %}
				</li>
			{% else %}
				<li class="disabled">
					<span class="previous">Previous</span>
				</li>
			{% endif %}

			{% if paginator.page == 1 %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}					
				<a href="{{ BASE_PATH }}/blog">1</a>
			</li>
			
			{% for count in (2..paginator.total_pages) %}
				{% if count == paginator.page %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}					
					<a href="{{ BASE_PATH }}/blog/page{{ count }}">{{ count }}</a>
				</li>
			{% endfor %}

			{% if paginator.next_page %}
				<li>
					<a href="{{ BASE_PATH }}/blog/page{{ paginator.next_page }}" class="next">Next</a>
				</li>
			{% else %}
				<li class="disabled">
					<span class="next ">Next</span>
				</li>
			{% endif %}
		</ul>
	</div>
</div>