<div class="footer-socials">
  <ul>
    <li>
      <a rel="me" href="https://mastodon.social/@kevinoconnor">
        <span class="icomoon-mastodon"></span>
      </a>
    </li>
    <li>
      <a rel="me" href="https://twitter.com/dev_urand">
        <span class="icomoon-twitter"></span>
      </a>
    </li>
  </ul>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TYHL8Z6ZQF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TYHL8Z6ZQF');
</script>